html{
	height: 100%;
	width: auto;
	background-image: linear-gradient(to right, #c892df 0%, #136399 100%);
	scroll-behavior: smooth;
}
.main{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 6rem;

}

.member,
.problem,
.solution,
.technologies{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5vh 1vw;
	padding-left: 1.5rem;

}
h1{
	position: relative;
	left: 45%;
	padding-top: 20vh;
}
h4
nav{
	position: fixed;
	top: 5px;

}

nav ul {
	position: fixed;
	top: 5px;
	z-index: 9999;
	border-radius: 15px;
	margin-left: 15%;
	margin-top: 2%;
	text-align: center;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0)), 0%, rgba(255, 255, 255, 0)100%;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	padding: 1.2rem;
	text-transform: uppercase;
	font-size: 1.5rem;
	display: block;
}
nav ul li a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0	0	1px rgba(255, 255, 255, 0.6);
	background:rgba(255, 255, 255, 0.1);
	color: rgba(0, 35, 122, 0.7);
}
.teamImg {
height: 29vh;
width: 14vw;
border-radius: 15%;
max-width: 90%;
}
.card	{
border-radius: 10%;
background: linear-gradient(145deg, #f0f0f0, #cacaca);
box-shadow:  20px 20px 40px #949494,
             -20px -20px 60px #ffffff;
margin: 2rem 1.5rem;
padding-bottom: 0.5rem;
line-height: 0.8ch;
max-width: 15vw;
display: flex;
flex-direction: column;
text-align: center;
border-color: royalblue;
border-style: solid;
padding-right: 1.5rem;
padding-left: 1.5rem;
}

.prbl{
	padding: 1rem;
	font-size: 2rem;
	margin: auto;
}

.techImg {
	/* max-height: 40%; */
	text-align: center;
	/* animation: mymove 5s infinite;
	position: relative; */
}
:is(.techImg) :is(img) {
	height: 180px;
	animation: mymove 5s infinite;
	position: relative;
	
}
#img1 {animation-timing-function: linear;}
#img2 {animation-timing-function: ease;}
#img3 {animation-timing-function: ease-in;}
#img4 {animation-timing-function: ease-out;}
#img5 {animation-timing-function: ease-in-out;}
#img6 {animation-timing-function: ease-in;}
#img7 {animation-timing-function: ease-in;}
/* #img3 {animation-timing-function: ease-in;} */

:is(.main) :is(img) {

	animation: mymove 7s ;
	position: relative;
	
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}